*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(32, 65, 109);
    color: azure;
}
header{
    width: 80%;
    margin: 0px auto;
    background-color: rgb(100, 164, 236);
    -webkit-box-shadow: 2px 4px 8px 1px rgba(76,117,219,1);
    -moz-box-shadow: 2px 4px 8px 1px rgba(76,117,219,1);
    box-shadow: 2px 4px 8px 1px rgba(76,117,219,1);
}
.cabecera{
    padding: 15px 0px;
    margin-left: 50px;
    display: inline-block;
    
}
.small{
    display: inline-block;
    font-size: small;
    margin-left: 50px;
}
.contenido{
    /* display: ; */
    width: 80%;
    margin: 0px auto;
    border: white 1px solid;
    padding: 20px;
    text-align: center;
}
.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    margin: 20px;
}
.parrafo{
    margin-bottom: 50px;
}
footer{
    background-color: rgb(171, 123, 206);
    vertical-align: middle;
    text-align: center;
    width: 80%;
    margin: auto;
    color: #fff;
    padding: 15px;
}


