*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(32, 65, 109);
    /* text-align: center; */
    color: azure;
}
.contenido{
    /* display: ; */
    width: 80%;
    margin: 50px auto;
    border: white 1px solid;
    padding: 20px;
}
.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    margin: 20px;
}
.parrafo{
    margin-bottom: 50px;
}


